<br><br><br><br>
<div class="container">
    <h3 class="text-center" style="color: black; font-family: 'Enriqueta'; letter-spacing: 2px">Demandes en attente<span
            matBadge="{{nbDemande}}" matBadgeOverlap="false"></span></h3>

    <div class="row">
        <ul style="color: black" *ngFor="let p of dataAttente">
            <div class="col-sm-3">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="https://www.fcgb.net/forums/styles/FCGB/theme/images/user4.png"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 style=" font-family: 'Roboto'; color: rgba(187, 116, 30, 0.76)" class="card-text">
                            {{p.nom}}</h5>
                        <p style="font-family: 'Roboto'; letter-spacing: 1px; color: darkgray">{{ p.mail}}</p>
                        <span class="mdl-chip mdl-chip--deletable">
                            <span class="mdl-chip__text"
                                style="font-family: 'Roboto'; letter-spacing: 1px">Accepter</span>
                            <button type="button" class="mdl-chip__action" (click)="Validfriend(p)"><i
                                    class="material-icons">done</i></button>
                            &nbsp;
                            <span class="mdl-chip__text"
                                style="font-family: 'Roboto'; letter-spacing: 1px">Refuser</span>
                            <button type="button" class="mdl-chip__action" (click)="deletefriend(p)"><i
                                    class="material-icons">cancel</i></button>
                        </span>
                    </div>
                </div>
            </div>
        </ul>
    </div>

    <div class="container">

        <h3 class="text-center" style="color: black; font-family: 'Enriqueta'; letter-spacing: 2px">Mes amis</h3>
        <div class="row">
            <ul style="color: black" *ngFor="let p of data">
                <div class="col-sm-3">
                    <div class="card" style="width: 17rem;">
                        <img class="card-img-top" src="https://www.fcgb.net/forums/styles/FCGB/theme/images/user4.png"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 style=" font-family: 'Roboto'; color: rgba(187, 116, 30, 0.76)" class="card-text">
                                {{p.nom}}</h5>
                            <p style="font-family: 'Roboto'; letter-spacing: 1px; color: darkgray">{{ p.mail}}</p>
                            <span class="mdl-chip mdl-chip--deletable">
                                <span class="mdl-chip__text">Retirer des amis</span>
                                <button type="button" class="mdl-chip__action" (click)="deletefriend(p)"><i
                                        class="material-icons">cancel</i></button>
                            </span>
                        </div>
                    </div>

                </div>
            </ul>
        </div>
    </div>