<div class="container">
  <br><br><br><br>
  <h5 class="text-center">Mes amis</h5>
  <table class="table table-striped table-dark">
      <thead class="thead thead-dark">
          <tr class="text-center">
              <th></th>
              <th>Nom</th>             
              <th>mail</th>
          </tr>
      </thead>
      <tbody class="text-center thead-dark">
              <tr *ngFor = "let p of data">
                  <td>{{p.photo}}</td>
                  <td>{{p.nom}}</td>
                  <td>{{p.mail}}</td>
              </tr>
          </tbody>
  </table>
</div>