.table{
    text-align: center;
    color: black;
}
h3 {
    color: steelblue;
}

.thead{
    font-size: x-large !important;
    text-align: center !important;    
    background-color: steelblue;
}
th {
    color: white !important;
}

#titre{
    font-size: x-large !important;
    text-align: center !important;
}

.user_card {
    height: 95%;
    width: 80%;
    margin-top: auto;
    margin-bottom: auto;
    /* background: #f39c12; */
    background: whitesmoke;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.p{
    color: steelblue !important;
} 