<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <div id='photoProfilNull' *ngIf='User.photo ==null'>
                        <img src="assets/LogoLogin.png" class="brand_logo" alt="Logo">
                    </div>
                    <div id='photoProfil' *ngIf='!User.photo == null'>
                        <!-- <User.photo class="brand_logo" alt="Logo"> -->
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form #forme="ngForm" (ngSubmit)="modifyProfil()" autocomplete="off">
                    <div>
                        <h3 class='text-center'>Bienvenue {{User.nom}}</h3>
                    </div>
                    <div class="input-group mb-2 justify-content-center">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>

                        </div>
                        <div class="form-group">
                            <input type="text" name="nom" class="form-control" placeholder="Nom du Groupe"
                                [(ngModel)]="User.nom" #nom="ngModel" required>

                        </div>

                    </div>
                    <div class="input-group mb-2 justify-content-center">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>

                        </div>
                        <div class="form-group">
                            <input type="text" name="mail" class="form-control" placeholder="Identifiant (Email)"
                                [(ngModel)]="User.mail" #mail="ngModel" required>

                        </div>

                    </div>
                    <div class="input-group mb-2 justify-content-center">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>

                        </div>
                        <div class="form-group">
                            <input type="text" name="description" class="form-control" placeholder="Description"
                                [(ngModel)]="User.description" #description="ngModel" required>

                        </div>

                    </div>



                    <div class="input-group mb-2 justify-content-center">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>

                        </div>
                        <div class="form-group">
                            <input type="number" name="cachet" class="form-control" placeholder="Cachet"
                                [(ngModel)]="User.cachet" #cachet="ngModel" required>

                        </div>

                    </div>


                    <div class="input-group mb-2 justify-content-center">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <div class="form-group">
                            <input type="password" name="mdp" class="form-control" [(ngModel)]="User.mdp"
                                #password="ngModel" placeholder='Mot de passe' required>

                        </div>
                    </div>



                    <div class="d-flex justify-content-center mt-3 login_container form-group">
                        <div class="form-group">
                            <button [disabled]="!forme.form.valid">Modify</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>



<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>