body{
    font-size: calc(16px + 0.5vw);
}
.mat-table{
    margin: auto;
    border-collapse: collapse;
    border: 0.1vmin solid black;
    width: calc(100vmin - 70px);
}


.mat-cell,.mat-header-cell{
    border: 0.1vmin solid black;
    padding: 5px;
    text-align: center;
    border-radius: 2vmin;
}

.recherche{
    border-top-left-radius: 2vmin;
    border-top-right-radius: 2vmin;
    border: 0.1vmin solid black;
    padding-left: 35px;
    padding-right: 35px;
    display: block;
    margin: auto;
    width: calc(100vmin - 70px);
}
.rech{
    text-align: center;
}

form{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.formul, .in{    
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.formul{
    width: calc(100vmin - 70px);
    padding-left: 35px;
    padding-right: 35px;
    border: 0.1vmin solid black;
    margin: auto;
}

label{
    background-color: chocolate;
    padding: 1vmin;
    position: relative;
    top: 0.6vmin;
    border-radius: 0.3vmax;
    color: azure;
}

.se{

}

.example-container {
    height: 50vh;
    overflow: auto;
  }